*{
    font-family: 'Montserrat', sans-serif;
}


/* Modificaciones bootstrap */
a {
    text-decoration: none !important;
}



/* Banner */
.banner{
    display: none;
    max-width: 1440px;
    margin: 0 auto;
}
.image-wrapper{
    /*width: 100%;*/
    background-image: url(../img/banner-index.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 200px;
}
.info-banner{
    width: 40%;
    margin-left: 10%;
}
.info-banner h2{
    color: white;
    font-weight: 600;
}
.call-to-action{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    margin-left: -10px;
    min-width: 140px;
    max-width: 250px;
    margin-bottom: 20px;
    color: black;
}


/* catalogo */
.cards_categorias{
    border-radius: 1.1rem;
}
.img_catalogo{
    border-radius: 1rem;
}







/* media queries */
@media (min-width: 375px){
    .banner{
        display: block;
    }
}


@media (min-width: 768px){
    /* banner */
    .image-wrapper{
        height: 350px;
    }
    .info-banner{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5%;
        row-gap: 20px;
    }
    .info-banner h2{
        font-size: 30px;
    }
    .call-to-action{
        margin-left: 0;
    }
}


