.footer{
    background: white;
    position: relative;
    padding: 30px 15px;
}

.footer-inner p{
    margin-bottom: 10px;
}
.redes-footer{
    margin-top: 20px;
}
.icono{
    padding: 5px;

    img {
        width: 35px;
    }
}
