* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(243, 243, 243)!important;
}
.seccion, .footer-inner{
    max-width: 1440px;
    margin: 0 auto;
}
.seccion, .header .footer {
    padding: 0 3%;
}
.seccion{
    margin-top: 50px;
    margin-bottom: 50px;
}
a {
    text-decoration: none !important;
    color: black !important;
}
h2{
    margin: 20px 0;
    font-weight: 600!important;
}
.boton {
    background-color: $buttons-background; //Crear variable
    height: $buttons-height; // 
    border-radius: $buttons-radius; // 
    width: 100%; // 
    display: flex; //
    align-items: center; //
    box-shadow: $buttons-shadow; //Crear variable

    a {
        width: 100%;//
        text-align: center;//

        span {
            color: white; // 
            font-weight: $buttons-font-weight; //
        }
    }
}